$border-outer: .2rem solid black;
$border-inner: .1rem solid black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(http://www.anasfim.com/p/2018/03/blank-old-newspaper-background-templates-corner-intended-for-blank-old-newspaper-background.jpg);
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

.header {
    line-height: 4.5rem;

    h1 {
        font-weight: 700;
        font-size: 3rem;
        margin: 1rem;
        display: inline-block;
    }

    label {
        font-size: 2rem;
    }
    select {
        background-color: rgba(0, 0, 0, 0);
        outline-width: 0;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;    
        font-size: 1.5rem;
    }
}

table {
    margin: auto;
    border: $border-outer;
    border-collapse: collapse;
}

tr:nth-of-type(3) td,
tr:nth-of-type(6) td {
    border-bottom: $border-outer;
}

tr td:nth-of-type(3),
tr td:nth-of-type(6) {
    border-right: $border-outer;
}

.cell {
    border: $border-inner;
    background-color: rgba(255, 255, 255, 0.5);
}

.cell-input {
    border: none;
    height: 5rem;
    width: 5rem;
    text-align: center;
    font-size: 4rem;
    outline-width: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.25s, opacity 0.35s;
    caret-color: rgba(0, 0, 0, 0.0);
    font-family: 'Dancing Script', cursive;

    &.normal {
        color: #5c6274;
    }
    &.given {
        font-family: 'Old Standard TT', serif;
    }
    &.conflict {
        color: red;
    }
    &:focus {
        background-color: rgba(240, 248, 255, 0.6);
    }
}

#sudokuBoard.invisible .cell-input {
    opacity: 0;
}
