$border-outer: 0.2 rem solid black;
$border-inner: 0.1 rem solid black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(http://www.anasfim.com/p/2018/03/blank-old-newspaper-background-templates-corner-intended-for-blank-old-newspaper-background.jpg);
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

h1 {
    font-weight: 700;
    margin: 1 rem;
    font-size: 62.5%;
}

#controls {
    margin: 1 rem auto;

    button {
        padding: .1 rem .6 rem;
    }
}

table {
    margin: auto;
    border: $border-outer;
    border-collapse: collapse;
}

tr:nth-of-type(3) td,
tr:nth-of-type(6) td {
    border-bottom: $border-outer;
}

tr td:nth-of-type(3),
tr td:nth-of-type(6) {
    border-right: $border-outer;
}

.cell {
    border: $border-inner;
    background-color: rgba(255, 255, 255, 0.5);
}

.cell-input {
    border: none;
    height: 5 rem;
    width: 5 rem;
    text-align: center;
    font-size: 2.5 rem;
    outline-width: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.25s, opacity 0.35s;
    caret-color: rgba(0, 0, 0, 0.0);
    font-family: 'Dancing Script', cursive;
}

.cell-input.given {
    font-family: 'Old Standard TT', serif;
}

.cell-input.normal {
    color: #5c6274;
}

.cell-input.conflict {
    color: red;
}

.cell-input:focus {
    background-color: rgba(240, 248, 255, 0.6);
}

#sudokuBoard.invisible .cell-input {
    opacity: 0;
}
