h1 {
    text-align: center;
}

#controls {
    margin: 10px auto;
    text-align: center;
}

table {
    margin:auto;
    border: 2px solid black;
    border-collapse: collapse;
}

tr:nth-of-type(3) td,
tr:nth-of-type(6) td {
    border-bottom: 2px solid black;
}

tr td:nth-of-type(3),
tr td:nth-of-type(6) {
    border-right: 2px solid black;
}

.cell {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.cell-input {
    border: none;
    height: 48px;
    width: 50px;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    outline-width: 0;
    transition: color 0.25s, opacity 0.35s;
}

.cell-input.conflict {
    color: red;
}

.cell-input.invisible {
    opacity: 0;
}