table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

tr:nth-of-type(3) td,
tr:nth-of-type(6) td {
    border-bottom: 2px solid black;
}

tr td:nth-of-type(3),
tr td:nth-of-type(6) {
    border-right: 2px solid black;
}

#sudokuBoard input {
    border: none;
    height: 48px;
    width: 50px;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
}

#sudokuBoard input:focus {
    outline-width: 0;
}