.grid {
    border: .2rem solid black;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 2rem;
}
  
.cell {
    border: .1rem solid black;
    width: 5rem;
    height: 5rem;
    box-sizing: border-box;
    font-size: 3.5rem;
}

.conflict {
    color: red;
}

.grid tr:nth-of-type(3),
.grid tr:nth-of-type(6) {
    border-bottom: .2rem solid black;
}

tr .cell:nth-of-type(3),
tr .cell:nth-of-type(6) {
    border-right: .2rem solid black;
}